:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --button-color: #2196f3;
  --praymary-white-color: #ffffff;
  --secondary-gray-color: #2f303a;
  --text-white-color: #ffffff;
  --bg-color: #ffffff;
  --textarea-color: #757575;
  --test-color: #ccec12;
  --filter-color-text: #f5f4fa;
  --Web-span-text: #2196f3;
  --title-hover: #188ce8;
  --btn-bgr: #f5f4fa;
}
button {
  border: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  font-size: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--firstFontColor);
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  min-width: 1200px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.link:focus,
.link:hover {
  color: var(--button-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.span-web {
  color: var(--Web-span-text);
}
.logo a:hover,
.logo a:focus {
  color: var(--button-color);
}
.nav a {
  color: var(--title-text-color);
}
.nav a:hover,
.nav a:focus {
  color: var(--button-color);
}
.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.header .logo {
  font-family: Raleway;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.menu-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--textarea-color);
}
/*------------hero-------------*/
.hero {
  background: var(--secondary-gray-color);
  padding: 200px 0px;
}
.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-white-color);
}
.hero > button {
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 4px;

  font-weight: 700;
  line-height: 1;
  background: var(--button-color);
  color: var(--praymary-white-color);
}
.hero > button:hover,
.buttons:focus {
  background-color: #188ce8;
  color: var(--text-white-color);
}

/*----------НАШИ ПРЕИМУЩЕСТВА---------*/
.advantages {
  padding-top: 50px;
}
.advantages-items {
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.advantages-item .advantages-item {
  text-transform: uppercase;
}
.advantages-item-text {
  max-width: 270px;
  color: var(--textarea-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 400;
}

/*-------ЧЕМ ЗАНИМАЕМСЯ-------------*/
.our-work {
  padding-top: 10px;
}
.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 50px;
}
.caption-item {
  display: flex;
  justify-content: space-between;
}
.caption-item li:not(:last-child) {
  margin-right: 30px;
}
.image {
  display: flex;
  width: 370px;
  height: 294px;
}
/*-------КОМАНДА-------------*/
.team {
  background-color: #f5f4fa;
}
.team-caption {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-item {
  display: flex;
  justify-content: space-evenly;
}
.caption-team {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
}
.caption-team-text {
  color: var(--textarea-color);
  font-weight: 400;
  line-height: 1.12;
  text-align: center;
  margin: 10px;
}

.images {
  height: 260px;
  width: 270px;
}
.team-item li:not(:last-child) {
  margin-right: 30px;
}
.team-all {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*------------PORTFOLIO-------------*/
/*-------section1------*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;

  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--btn-bgr);
  color: var(--title-text-color);
}
.filter-btn:focus,
.filter-btn:hover {
  color: var(--praymary-white-color);
  background-color: var(--button-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*-------section2------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}
.bord-item {
  border: 1px solid #eeeeee;
}
.card {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-right: 24px;
}
.card-items {
  color: var(--textarea-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;

  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}
.card-img {
  display: flex;
  width: 100%;
  height: auto;
  margin-right: 0;
}

/*-------------FOOTER--------------*/
.footer {
  background: var(--secondary-gray-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}
.footer li {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-white-color);
}
.footer li:not(:last-child) {
  margin-bottom: 9px;
}
.footer a {
  color: var(--footer-text-color);
}
.footer a:hover {
  color: var(--accent-color);
}
.footer :focus {
  color: var(--accent-color);
}
